.mainContainer {
  background-color: rgb(255, 255, 255);
  flex-grow: 2;
  overflow: auto;
  height: 100vh;
}

.topBanner {
  // background-color: rgb(125, 53, 53);
  height: 19em;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2.5fr 3.2fr;
  grid-gap: 0px 0px;
  gap: 0px 0px;
  align-items: center;
  margin-bottom: 1em;
}

.playlistImage {
  margin-left: 4em;
}

.playlistInfo {
  width: 70%;
  text-align: center;

  p {
    font-size: 13px;
    color: #ffffff;
  }
}

.playlistName {
  font-size: 6em;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.playlistOwner {
  display: flex;
  p {
    font-size: 13px;
    color: #ffffff;
  }
  p:nth-child(2) {
    margin-left: 1em;
    font-size: 13px;
    color: #ffffff;
  }
  p:nth-child(3) {
    margin-left: 1em;
    font-size: 13px;
    color: #ffffff;
  }
}

.playlistTrackTitles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0px 0px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". . . .";
  margin-bottom: 1em;
  justify-items: center;
  p {
    color: #ffffff;
  }
}

.playlistTrackBorder {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  border-bottom: 1px solid #ffffff33;
  height: 1px;
  width: 85%;
}

.track {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". . . .";
  margin-bottom: 1em;
  justify-items: center;
  align-items: center;
  p {
    color: #ffffff;
    text-align: center;
  }
}

.albumsTitle {
  margin-left: 13px;
  color: #ffffff;
}

.albums {
  width: 100%;
  min-height: 89%;
  height: auto;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  overflow: auto;
}

.album {
  background-color: rgb(24, 24, 24);
  height: 19em;
  width: 15em;
  padding: 1em;
  border-radius: 7px;
  margin-bottom: 2em;
  .albumImage {
    text-align: center;
  }
  .albumName {
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-bottom: 5px;
    margin-left: 10px;
  }
  .artistName {
    color: rgb(126, 126, 126);
    margin-top: 0;
    margin-left: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .albums {
    width: 100%;
    min-height: 89%;
    height: auto;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    overflow: auto;
  }

  @media screen and (max-width: 950px) {
    .albums {
      grid-template-columns: 1fr 1fr;
    }
  }
}

//search

.topBannerSearch {
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  .seachInput {
    width: 50%;
    height: 2em;
    border-radius: 5px;
    border: 1px solid #ffffff33;
    padding: 0.5em;
    font-size: 1em;
    color: #000000;
    outline: none;
  }
}
