.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: springgreen;
}

.login {
  text-align: center;
  p {
    font-size: 1.3rem;
  }
  .alert {
    width: 25em;
  }
}

.loginButton {
  border-radius: 20px;
  padding: 12px;
}

.loginButton:hover {
  cursor: pointer;
}

.loginButton:focus {
  outline: none;
}

.loginButton:active {
  transform: translateY(2px);
}
